th,
td {
  border: 3px solid black;
  border-collapse: collapse;
}
.resume_image {
  border: 3px solid black;
  border-radius: 50%;
  width: 90vw;
  height: 90vw;
  max-width: 300px;
  max-height: 300px;
}
.table_qualification {
  border-spacing: 1rem 1rem;
  margin-top: 0;
  border: 3px solid black;
  border-collapse: collapse;
  width: 65%;
  height: 40%;
  font-size: 20px;
}

body {
  font-family: system-ui;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}

h1 {
  margin-bottom: 0;
}

.margin_style {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#email {
  margin-top: 0;
}
#address {
  margin-top: 0;
  margin-bottom: 0;
}
#edu_qualification {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) and (min-width: 350px) {
  body {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 18px;
  }
  .education {
    overflow-x: auto;
  }
  .table_qualification {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 350px) {
  body {
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    margin: 0;
    border: 0;
  }
  .education {
    overflow-x: auto;
  }
  .table_qualification {
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    margin: 0;
    border: 0;
    border-spacing: 0;
  }
}
