#about {
  text-align: center;
  margin-left: auto;
}
#photo{
  width: 90vw;
  height: 90vw;
  max-width: 350px;
  max-height: 350px;
  border: 3px solid black;
  border-radius: 50%;
}
.name{
  position: absolute;
    padding-left: 5%;
}
#photo_grid{
  margin: auto;
    padding: 0 ;
    background: linear-gradient(0.25turn, rgba(183,212,226,0), rgba(235,248,225,0) , rgba(246,157,60,0));
    border: 0;

}
#ov1{
  text-align: center;
}
#ov2{
  text-align: center;
}
#ov3{
  text-align: center;
}
#about h1 {
  margin: 25px;
}
section {
  margin: 40px;
}
h1{
  text-align: center;
}
.contact i {
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px;
}
.jumbotron.lower{
  background: linear-gradient(0.25turn, rgba(183,212,226,0), rgba(235,248,225,0) , rgba(246,157,60,0));
}
.jumbotron.text-center.upper{
  background: linear-gradient(0.25turn, rgba(183,212,226,0), rgba(235,248,225,0) , rgba(246,157,60,0));
  padding-left: 20%;
}
.jumbotron.text-center.contact{
  background: linear-gradient(0.25turn, rgba(183,212,226,0), rgba(235,248,225,0) , rgba(246,157,60,0));
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 20px;

}
body{
  background-image: url("img1.png");
}


.jumbotron.text-center.section1{
  display: contents;
}

.display-9{
  display: inline-block;
}

#contact{
  text-align: center;
}
@media only screen and (max-width: 600px) and (min-width: 200px) {
  body {
    font-size: 20px;
  }
}
